# create .env file in the root
# Set APP_ENV to "local" for development or "production" for production environments
APP_ENV=production
USER_ENCRYPTED_FILE_PATH=./user_files/encrypted_file.txt
DEV_SERVER = "http://localhost:4000/#/"